[Unit]
Description=Online Pls Discord Bot
Requires=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/python /etc/onlinepls/main.py

[Install]
WantedBy=multi-user.target
