[Unit]
Description=Online Pls Discord Bot
Requires=network-online.target

[Service]
Type=simple
User=daniel
ExecStart=/usr/bin/python /home/daniel/code/onlinepls/main.py

[Install]
WantedBy=multi-user.target
