[Unit]
Description=Online Pls Discord Bot

[Service]
Type=simple
ExecStart=/usr/bin/python .local/share/onlinepls/main.py

[Install]
WantedBy=network-online.target
